parameters:
		# Rules
		treatPhpDocTypesAsCertain: false
		inferPrivatePropertyTypeFromConstructor: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true

		# Configuration
		level: 8
		phpVersion:
			min: 70400
			max: 80300
		bootstrapFiles:
				- abilities-api.php
		paths:
				- abilities-api.php
				- src/
		excludePaths:
			analyse:
				- tests/
				- vendor/
			analyseAndScan:
				- node_modules (?)

